<ion-header>
  <ion-toolbar color="medium">
   
    <ion-title>ATIVIDADE 02</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-item button detail lines="full" lines="none" href="/student">
    <ion-icon name="school" slot="start"></ion-icon>
    <ion-label>Alunos</ion-label>
  </ion-item>
  <ion-item button detail lines="full" lines="none" href="/reports">
    <ion-icon name="reader" slot="start"></ion-icon>
    <ion-label>Relatório</ion-label>
  </ion-item>
  <ion-item button detail lines="full" lines="none" href="/my-data">
    <ion-icon name="body" slot="start"></ion-icon>
    <ion-label>Meus Dados</ion-label>
  </ion-item>
  <ion-item button detail lines="full" lines="none" href="#">
    <ion-icon name="log-out-outline" slot="start"></ion-icon>
    <ion-label>Sair</ion-label>
  </ion-item>
  
</ion-content>
